* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div {
    /* border: 1px solid red; */
    box-sizing: border-box;
}
span {
    border: 1px solid red;
}
/* div1 */
#div1 {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #222f3e;
    color: white;
    font-weight: bold;
}
.input {
    width: 50%;
    text-align: center;
}
#div1 input {
    font-size: 20px;
    padding: 5px;
    width: 100%;
}
#div1 .contact {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

/* div2 */
#div2 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #576574;
    color: white;
}
#div2 div {
    padding: 10px;
    margin: auto 5px;
}

/* div3 */
#div3 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: palevioletred;
}
#div3 div {
    padding: 5px;
    font-weight: bold;
}
/* div4 */
#div4 {
    width: 90%;
    margin: 5px auto;
    background-color: pink;
}
#div4 .sale {
    padding: 30px 0 60px 0;
    text-align: center;
}
.sale button {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 5px 40px;
    background-color: black;
    color: white;
    border-radius: 50px;
}
#div4 .category {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: pink;
}
#div4 .category div {
    margin: 5px 0;
    background: azure;
}
#div4 p {
    text-align: center;
    padding: 10px;
}
.viewall {
    width: 150px;
    margin: 50px auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    background-color: azure;
}
#div5 {
    width: 90%;
    margin: 5px auto;
    text-align: center;
}
#div5 h1 {
    font-size: 150px;
    padding: 100px 0;
}
#div5 button {
    width: 180px;
    font-size: 15px;
    padding: 10px;
    margin: 20px 10px;
    letter-spacing: 2px;
}
/* div6 */
#div6 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    text-align: center;
}
#div6 div {
    margin: 5px auto;
}
#div6 h4, p {
    padding: 10px;
}

@media only screen and (max-width: 740px) {
    .input {
        display: none;
    }
    #div2, #div3 {
        display: none;
    }
}